@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

:root {
  /* Colors */
  --color-dark: #090a0a;
  --color-gray: #1e1f22;
  --color-blue: #003697;
  --color-btn-primary: #d63d00;
  --color-btn-secondary: #444444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: white;
  background-color: var(--color-dark);
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

main {
  max-width: 90%;
  margin: 0 auto;
}

button {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  color: white;
  border: none;
}

button:hover {
  cursor: pointer;
}

.nav__container {
  background-color: aqua;
}

/* PRODUCT SECTION */

.product__highlight {
  background-color: aqua;
  min-width: 100vw;
  margin-left: -6%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(9, 10, 10, 1)
    ),
    url(./images/gEKGIdI3ETg8tJ7NpTfYg2PX.webp);
  background-size: cover;
  padding-top: 40rem;
  display: flex;
  justify-content: center;
}

.product__highlight-wrapper {
  display: flex;
  max-width: 80%;
  padding: 2rem;
  border-radius: 1rem;
}
.product__highlight-details {
  display: flex;
  flex-wrap: wrap;
}
.product__highlight-details-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding-left: 1rem;
  min-width: 60rem;
}
.product__highlight-title {
  font-size: 5rem;
}
.product__highlight-dev {
  font-size: 1.8rem;
}
.platforms {
  display: flex;
  padding: 1.5rem 0;
  transform: translateX(-2rem);
}

.product__highlight-about {
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 20rem;
}
.product__highlight-price {
  position: absolute;
  bottom: 10rem;
  font-size: 4rem;
  font-weight: 700;
}

.btn-group {
  display: flex;
  justify-content: flex-start;
  padding: 1.5rem 0;
}
.product__highlight-btn-cart {
  background-color: var(--color-btn-primary);
  width: 85%;
  padding: 0.8rem 0;
  border-radius: 10rem;
  font-weight: 600;
}
.product__highlight-btn-wish {
  background-color: var(--color-btn-secondary);
  padding: 0.5rem;
  width: 5rem;
  height: 5rem;
  margin-left: 4rem;
  border-radius: 50%;
}
.product__hight-details-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 2rem;
  min-width: 60rem;
}
.active__video {
  padding: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.main__video {
  width: 100%;
  min-height: 500px;
}
.sub__video-wrapper {
  display: flex;
  gap: 1rem;
  height: 30%;
  width: 100%;
  padding: 0 2rem;
}

.sub__video {
  flex: 1;
  display: flex;
  justify-content: center;
}
.mini__video {
  width: 100%;
}

/* EDITIONS SECTION */
.editions__section {
  display: flex;
  flex-direction: column;
  padding: 12rem 0;
}
.editions__section-heading {
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 2rem;
}
.editions__card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 1rem;
}
.editions__card {
  width: 28%;
  min-width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--color-gray);
  font-size: 1.7rem;
  border-radius: 1rem;
  overflow: hidden;
}
.editions__section-img {
  width: 100%;
  min-width: 100%;
}
.editions__card-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  padding-bottom: 4rem;
}
.editions__card-title {
  font-size: 2.8rem;
  margin-left: 0.5rem;
  padding-bottom: 30rem;
}
.editions__card-content {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 11rem;
}
.editions__card-price {
  font-size: 2.8rem;
  font-weight: 600;
  margin-left: 0.5rem;
}
.editions__card-platform {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin-left: 2rem;
}
.editions__card-btn-group {
  display: flex;
  justify-content: flex-start;
}
.editions__card-cart_btn {
  background-color: var(--color-btn-primary);
  width: 85%;
  padding: 0.8rem 0;
  border-radius: 10rem;
  font-weight: 600;
}
.editions__card-wish_btn {
  background-color: var(--color-btn-secondary);
  padding: 0.5rem;
  width: 5rem;
  height: 5rem;
  margin-left: 4rem;
  border-radius: 50%;
}

.wish-btn {
  width: 25px;
  height: 25px;
  transform: translateY(0.3rem);
}

/* ADD ONS SECTION */
.addons__section {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
}
.addons__section-heading {
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 2rem;
}
.addons__section-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 1rem;
}
.addons__addon {
  width: 13.5%;
  min-width: 20rem;
}
.addons__addon-img {
  width: 100%;
  border-radius: 1rem;
}
.addons__addon-content {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.addons__addon-tag {
  font-size: 1.2rem;
}
.addons__addon-title {
  font-size: 2rem;
  font-weight: 400;
}
.addons__addon-price {
  font-size: 1.6rem;
}

/* GAME-LEGAL SECTION */
.gamelegal__section {
  display: flex;
  flex-direction: column;
  padding: 5rem 15rem;
  padding-bottom: 15rem;
}
.gamelegal__section-heading {
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 2rem;
}
.gamelegal__section-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 1rem;
}
.gamelegal__section-disclaimer {
  font-size: 3rem;
  flex: 2;
  min-width: 50rem;
}
.gamelegal__section-features {
  margin-top: 2rem;
}
.gamelegal__section-details {
  flex: 1;
}
table {
  width: 100%;
  min-width: 50rem;
}
td:first-child {
  width: 50%;
}
td {
  font-size: 1.6rem;
  padding: 0.5rem;
  vertical-align: top;
}
/* FOOTER SECTION */

.footer {
  background-color: var(--color-blue);
  display: flex;
  flex-direction: column;
  padding: 4rem 8rem;
}
.footer__heading {
  font-size: 3rem;
  padding-bottom: 8rem;
  padding-left: 8rem;
}
.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.footer__links {
  flex: 1;
  font-size: 4rem;
  padding-left: 8rem;
}
ul {
  list-style: none;
  width: 33%;
  min-width: 20rem;
}
li {
  margin-bottom: 2rem;
}
